<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.it_college.std.s20007.getupryota">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetUpRyota">
        <activity
            android:name=".format.Puzzle"
            android:exported="false" />
        <activity
            android:name=".format.ExerciseQuiz"
            android:exported="true" />
        <activity
            android:name=".format.EnglishWordsQuiz"
            android:exported="true" />
        <activity
            android:name=".format.CalculationQuiz"
            android:exported="true" />
        <activity
            android:name=".repeatWeek"
            android:exported="false" />
        <activity
            android:name=".alarmName"
            android:exported="false" />
        <activity
            android:name=".questionFormat"
            android:exported="false" />
        <activity
            android:name=".SoundSelect"
            android:exported="false" />
        <activity
            android:name=".SettingAlarm"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>